:root {
  --blanco: #ffffff;
  --fondo: #101f28;
  --verde:  #00d963;
  --gris2: #2f3848;
  --fondo: #101f28;
  --negro: #000000;
  --headingFont:'Raleway', sans-serif;
  --textFont:  'Roboto', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.fa-angular{
  color:#B52E31;
}
.fa-react{
  color:#61DBFB;
}
.fa-html5{
  color:#FF5733;
}
.fa-js-square{
  color:#f0d53b;
}
.fa-vuejs{
  color:#42B883;
}
.fa-css3-alt{
  color:#4AAAE1;
}
.fa-aws{
  color:#f79400;
}
.sin-padding{
  padding: 0;
}
html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%; 
}
body {
  min-height: 100%;
  background-color: var(--gris1);
  font-size: 16px; 
  font-size: 1.6rem;
  font-family: var(--textFont);
}

h1, h2 {
  font-family: var(--headingFont);
  font-weight: 900;
  text-align: center;
  color: var(--gris2);
}
h1 span {
  font-weight: 400;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.4rem;
}
.titulo-proyectos{
  color: white;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--gris2);
}
.header-padding{
  padding: 30px;
}
.navbar{
  background-color: var(--fondo);
  padding: 20px;
}
.cerrar{
  color: white!important;
}
.cerrar:hover{
  color:rgb(230, 78, 78)!important;
}
.usuario{
  padding: 30px 15px;
}
.bg-success {
  background-color: #28a745!important;
  width: 25%;
}
.collapse,
.show{
  transition: all 0.5s ease;
}
/** BOTONES **/
.btn {
  margin-top: 2rem;
  font-family: var(--headingFont);
  padding: 1.5rem;
  font-size: 1.4;
  font-weight: 400;
  border-radius: .5rem;
  border: none;
  transition: background-color .3s ease;
  letter-spacing: 0.5rem;
}
.btn:hover {
  cursor: pointer;
}
.btn-primario {
  background-color: var(--verde);
  color: var(--blanco);
  font-size: 18px;
}
.btn-primario:hover {
  background: var(--fondo);
  color: white;
}
.btn-secundario {
  background-color: var(--gris1);
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-submit:hover {
  background-color: var(--gris2);
}
.btn-blank {
  margin: 0;
  padding: 0;
  display: block;
  background-color: transparent;
}
.nav-link{
  font-size: 20px;
  color: black;
  transition: .5s ease;
}
.titulo-objetivos{
  font-size: 14px;
  font-weight: bold;
  color: #0a090a;
  text-decoration: none;
  font-family: var(--textFont);
}
.btn.focus, .btn:focus {
  outline: 0;
   box-shadow:none; 
}
.btn-link.focus, .btn-link:focus {
  text-decoration: none;
}
.bg-info {
  background-color: #00c2ff;
}
.espacio-ruta{
  margin: 20px;
}
.titulo-objetivos:hover{
  text-decoration: none;
  color: #0a090a;
}
nav.side-navbar ul li.active>a {
  background: #a077ff;
  color: #fff;
  border-left: 4px solid #3b25e6;
}
nav.side-navbar ul li a {
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  font-weight: 300;
  border-left: 4px solid transparent;
}

nav.side-navbar ul li a:hover  {
  text-decoration: none;
  color: white;
  background-color: #a077ff;
  border-left: 4px solid #3b25e6;
}
.aside{
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
.h3{
  font-weight: bold;
}
@media (min-width: 768px) {
  .contenedor-app {
      display: flex;
      min-height: 100vh;
  }

  aside {
      background-color: #ffffff;
      flex: 0 0 300px;
  }
  .seccion-principal {
      flex: 1;
  }

  img{
    width: 30%;
  }
}
.centrado{
  display: flex;
  align-items: center;
}
.centradito{
  margin: 0 auto;
}
.progress {
  display: -ms-flexbox;
  display: flex;
  height: 2rem;
  overflow: hidden;
  line-height: 0;
  font-size: .75rem;
  background-color: #e9ecef;
  border-radius: .25rem;
}
.fa-centrado{
  margin-left: 47%;
}
/* BARRA LATERAL */
.formulario-nuevo-proyecto {
  margin-top: 6rem;
}
.formulario-nuevo-proyecto .input-text {
  border-bottom: 1px solid var(--gris2);
  border-radius: 0;
  background-color: var(--gris1);
}
.formulario-nuevo-proyecto .input-text::placeholder{
  color: var(--gris2);
}
.proyectos {
  margin-top: 10rem;
}
.listado-proyectos li {
  margin-bottom: 2rem;
}
.listado-proyectos li a {
  font-size: 1.4rem;
  color: var(--gris2);
  line-height: 1.5;
  font-weight: 300;
}
.app-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--gris2);
  padding: 4rem;
}
.nombre-usuario {
  color: var(--blanco);
  font-size: 2.2rem;
  margin: 0;
}
.nombre-usuario span {
  font-weight: 900;
}
.nav-principal a {
  color: var(--blanco);
  text-decoration: none;
}
.nav-principal a:first-of-type {
  margin-right: 2rem;
}

/** Formulario crear y editar tareas **/
.formulario {
  background-color: var(--gris3);
  padding: 4rem;
}
.formulario form {
  max-width: 600px;
  margin: 0 auto;
}
.contenedor-input {
  display: flex;
}
.contenedor-input label {
  margin-bottom: 1rem;
  color: var(--blanco);
}
.input-text {
  padding: 1rem;
  border: none;
  border-radius: .5rem;
  flex: 1;
  width: 100%;
}
.dropdown-toggle::after {
  display: inline-block;
  margin-left: 9em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}
textarea{
  width: -webkit-fill-available;
}/** TAREAS LISTADO **/
.contenedor-tareas {
  padding: 4rem;
}
.margin-lupa{
  margin-left: 75%;
}

.flexi{
  display: flex;
}
.listado-tareas {
  max-width: 600px;
  margin: 0 auto;
}

.tarea {
  display: flex;
  justify-content: space-between;
  background-color: var(--blanco);
  padding: .5rem 2rem;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: .5rem;

}
.sombra {
  -webkit-box-shadow: 0px 4px 10px -3px rgba(117,117,117,1);
  -moz-box-shadow: 0px 4px 10px -3px rgba(117,117,117,1);
  box-shadow: 0px 4px 10px -3px rgba(117,117,117,1);
  padding: 30px;
}
.sombra-dark {
  -webkit-box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
  -moz-box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
  box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
  padding: 30px;
}
.tarea .acciones .btn:first-of-type {
  margin-right: 1rem;
}
.tarea p {
  font-size: 1.6rem;
  flex: 1;
  padding-right: 2rem;
}
.tarea .btn {
  padding: .8rem;
  font-size:1.4rem;
  border-radius: 0;
  margin: 0;
}

.estado {
  margin-right: 1rem;
}
.estado button, 
.mensaje {
  font-weight: 900;
  font-family: var(--textFont);
  font-size: 1rem;
  padding: .5rem;
  border-radius: .5rem;
  cursor: pointer;
  border: none;
}
.mensaje {
  text-align: center;
  font-size: 1.6rem;
  border-radius: 0;
}
.mensaje:hover {
  cursor: default;
}
.completo,
.correcto {
  background-color: rgba(154, 252, 154, .3);
  color: var(--gris3);
}
.incompleto{
  background-color: rgba(255, 178, 178, .4);
  color: var(--gris3);
}
.error {
  max-width: 600px;
  margin: 2rem auto 0 auto;
  background-color: rgb(170, 0, 0);
  color: var(--blanco);
}



.tarea-enter,
.proyecto-enter {
  opacity: 0;
}
.tarea-enter-active,
.proyecto-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.tarea-exit,
.proyecto-exit {
  opacity: 1;
}
.tarea-exit-active,
.proyecto-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.form-usuario {
    background-color:#101f28;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 200px;
}
.form-logo{
  background-color:#101f28;
}
.logo{
  display: block;
  margin: 0 auto;
}

.contenedor-form {
    padding: 5rem 3rem;
    max-width: 500px;
    width: 95%;
    background-color: var(--blanco);
    border-radius: 1rem;
}

.campo-form {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
}
.campo-form:last-of-type {
  margin: 0;
}
.campo-form label {
  flex: 0 0 100px;
  font-family: var(--textFont);
}
.campo-form input[type="password"],
.campo-form input[type="email"], 
.campo-form input[type="text"],
.campo-form input[type="number"],
.campo-form input[type="search"]{
  border: 1px solid #e1e1e1;
  padding: 1rem;
  flex: 1;
}
select{
  border: 1px solid #e1e1e1;
  padding: 1rem;
  flex: 1;
}

.enlace-cuenta {
  margin-top: 2rem;
  display: block;
  opacity: .7;
}
.dropdown-item{
  padding-left: 20px;
}

.alerta {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 3rem;
  border-radius: 1rem;
  font-family: var(--headingFont);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2.2rem;
  text-align: center;
  width: 100%;
}
@media (min-width:768px) {
  .alerta {
      width: auto;
      top: 30px;
      right: 10px;
      left: auto;
  }
}

.alerta-ok {
  background-color: rgb(109, 211, 109);
  color: rgb(2, 103, 2);
}
.alerta-error {
  background-color: rgb(230, 78, 78);
  color: var(--blanco);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}